## Loading Data

To start using the package functionalities, we need to load the data first. The data can be provided as a CSV file, which should include the following columns:

<br>
<center>

| Column Name | Data Type | Description                  |
|-------------|-----------|------------------------------|
| isbn        | str       | the ISBN of the book         |
| title       | str       | the title of the book        |
| description | str       | the description of the book  |
| author      | list[str] | the author(s) of the book    |
| genre       | list[str] | the genre(s) of the book     |
| available   | bool      | the availability of the book |

</center>
<br>

<i>Note: The table names might be different than the ones mentioned above. In that case, an additional parameter should be provided to specify the column names (`column_names` in `process_data()`).</i>

Before loading the data we need to process it. The `process_data()` function will process the data and generate the embeddings (this might take a while). It will split the data into parts, generate embeddings, store them in a specified folder. The folder will have numbered CSVs with the processed data and PKLs with the embeddings.

In [ ]:
from kitab.utils import process_data

filepath = "data.csv"
destination_folder = "data"

process_data(filepath, destination_folder)

Then we need to load the data into the database. For this, we need to provide the following database connection details in the `.env`:

<br>
<center>

| Parameter   | Description |
|-------------|-------------|
| DB_USER     | str         |
| DB_PASSWORD | str         |
| DB_HOST     | str         |
| DB_PORT     | str or int  |
| DB_NAME     | str         |

</center>
<br>

After that, we can load the data into the database using the `load_data()` function.

In [ ]:
from dotenv import load_dotenv, find_dotenv
load_dotenv(find_dotenv())

from kitab.db.get_data import load_data

load_data(destination_folder)

Now, we're ready to use the package functionalities.

## Model

In [ ]:
from kitab.recommendation_model.models import recommend_books

description = "In this thrilling detective tale, a group of childhood friends accidentally stumble upon an ancient artifact hidden in their clubhouse. Little do they know, their discovery thrusts them into a dangerous conspiracy spanning centuries. As they uncover clues, they race against time to prevent a cataclysmic event that could reshape the world. Join them on a heart-pounding journey through shadows and secrets in this gripping mystery."

recommend_books(description, n=5)

In [ ]:
from kitab.recommendation_model.models import recommend_books_by_ISBN

recommend_books_by_ISBN(ISBN="1442942355", n=5)

In [ ]:
from kitab.recommendation_model.models import recommend_books_by_title

recommend_books_by_title(title="The Ghostly Rental", n=5)

## Database Functions

In [1]:
from kitab.db.functions import add_book_db, get_book_by_ISBN, add_book_db, update_book_db, get_table_from_db

c:\Users\alexa\Desktop\Spring 2024\DS 223 Marketing Analytics\Project\ds223-book-recommendation\book-recommendation\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
add_book_db(
    {"ISBN": "test_isbn",
     "title": "test_title",
     "description": "test_description",
     "available": True,
     "authors": ["test_author", "Agatha Christie"], 
     "genres": ["test_genre", "Fiction"]}
)

2024-04-09 22:36:38,008 - kitab.db.sql_interactions - insert_records - INFO - (1 records inserted successfully.) - line: 148
c:\Users\alexa\Desktop\Spring 2024\DS 223 Marketing Analytics\Project\ds223-book-recommendation\kitab\db\sql_interactions.py:241: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, self.connection)
2024-04-09 22:36:38,231 - kitab.db.sql_interactions - insert_records - WARNING - (No records to insert.) - line: 137
2024-04-09 22:36:38,272 - kitab.db.sql_interactions - insert_records - INFO - (2 records inserted successfully.) - line: 148
c:\Users\alexa\Desktop\Spring 2024\DS 223 Marketing Analytics\Project\ds223-book-recommendation\kitab\db\sql_interactions.py:241: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, self.connection)
2024-04-09 22:36:38,293 - kitab.db.sql_interactions - insert_records - WARNING - (No records to insert.) - line: 137
2024-04-09 22:36:38,305 - kitab.db.sql_interactions - insert_records - INFO - (2 records inserted successfully.) - line: 148

In [3]:
get_book_by_ISBN("test_isbn1")

c:\Users\alexa\Desktop\Spring 2024\DS 223 Marketing Analytics\Project\ds223-book-recommendation\kitab\db\sql_interactions.py:238: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, self.connection, params=values)

In [4]:
get_table_from_db("bookauthor").iloc[-10:]

c:\Users\alexa\Desktop\Spring 2024\DS 223 Marketing Analytics\Project\ds223-book-recommendation\kitab\db\sql_interactions.py:241: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, self.connection)

                     isbn  author_id
123901        some_isabn1      74396
123902     some_isasdabn1      74396
123903  some_isasdasasbn1      74396
123904    some_isasdasbn1      74397
123905      teasast_isbn1      74395
123906      teasast_isbn1       1676
123907       test_isbsan2       1676
123908       test_isbsan2      74394
123909          test_isbn      74395
123910          test_isbn       1676

In [5]:
update_book_db("test_isbn1", {"ISBN": "test_isbsan2", "authors": ["Agatha Christie", "test_author2"]})

2024-04-09 22:36:38,932 - kitab.db.sql_interactions - update_records - INFO - (Records updated successfully.) - line: 179
c:\Users\alexa\Desktop\Spring 2024\DS 223 Marketing Analytics\Project\ds223-book-recommendation\kitab\db\sql_interactions.py:238: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, self.connection, params=values)
c:\Users\alexa\Desktop\Spring 2024\DS 223 Marketing Analytics\Project\ds223-book-recommendation\kitab\db\sql_interactions.py:241: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, self.connection)
2024-04-09 22:36:39,133 - kitab.db.sql_interactions - insert_records - WARNING - (No records to insert.) - line: 137
2024-04-09 22:36:39,140 - kitab.db.sql_interactions - remove_records - WARNING - (No conditions provided for removing records.) - line: 194
2024-04-09 22:36:39,140 - kitab.db.sql_interactions - insert_records - WARNING - (No records to insert.) - line: 137

In [6]:
get_book_by_ISBN("test_isbn1")

c:\Users\alexa\Desktop\Spring 2024\DS 223 Marketing Analytics\Project\ds223-book-recommendation\kitab\db\sql_interactions.py:238: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, self.connection, params=values)

In [7]:
get_book_by_ISBN("test_isbn2")

c:\Users\alexa\Desktop\Spring 2024\DS 223 Marketing Analytics\Project\ds223-book-recommendation\kitab\db\sql_interactions.py:238: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, self.connection, params=values)
c:\Users\alexa\Desktop\Spring 2024\DS 223 Marketing Analytics\Project\ds223-book-recommendation\kitab\db\sql_interactions.py:238: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, self.connection, params=values)

{'isbn': 'test_isbn2',
 'title': 'test_title',
 'description': 'test_description',
 'available': True,
 'authors': ['Agatha Christie', 'test_author2'],
 'genres': ['Fiction', 'test_genre']}

In [8]:
get_table_from_db("bookauthor").iloc[-10:]

c:\Users\alexa\Desktop\Spring 2024\DS 223 Marketing Analytics\Project\ds223-book-recommendation\kitab\db\sql_interactions.py:241: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, self.connection)

                     isbn  author_id
123901        some_isabn1      74396
123902     some_isasdabn1      74396
123903  some_isasdasasbn1      74396
123904    some_isasdasbn1      74397
123905      teasast_isbn1      74395
123906      teasast_isbn1       1676
123907       test_isbsan2       1676
123908       test_isbsan2      74394
123909          test_isbn      74395
123910          test_isbn       1676