In [1]:
from kitab.db.functions import get_book_by_ISBN, add_book_db, update_book_db, get_table_from_db
from kitab.db.db_info import user, port, password, host, database

c:\Users\alexa\Desktop\Spring 2024\DS 223 Marketing Analytics\Project\ds223-book-recommendation\book-recommendation\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
add_book_db(
    {"ISBN": "test_isbn1",
     "title": "test_title",
     "description": "test_description",
     "available": True,
     "authors": ["test_author", "Agatha Christie"], 
     "genres": ["test_genre", "Fiction"]}
)

2024-04-08 04:09:01,572 - kitab.db.sql_interactions - insert_records - INFO - (1 records inserted successfully.) - line: 145
c:\Users\alexa\Desktop\Spring 2024\DS 223 Marketing Analytics\Project\ds223-book-recommendation\kitab\db\sql_interactions.py:212: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, self.connection)
2024-04-08 04:09:01,708 - kitab.db.sql_interactions - insert_records - INFO - (1 records inserted successfully.) - line: 145
2024-04-08 04:09:01,717 - kitab.db.sql_interactions - insert_records - INFO - (2 records inserted successfully.) - line: 145
c:\Users\alexa\Desktop\Spring 2024\DS 223 Marketing Analytics\Project\ds223-book-recommendation\kitab\db\sql_interactions.py:212: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, self.connection)
2024-04-08 04:09:01,728 - kitab.db.sql_interactions - insert_records - WARNING - (No records to insert.) - line: 134
2024-04-08 04:09:01,734 - kitab.db.sql_interactions - insert_records - INFO - (2 records inserted successfully.) - line: 145

In [3]:
get_book_by_ISBN("test_isbn1")

c:\Users\alexa\Desktop\Spring 2024\DS 223 Marketing Analytics\Project\ds223-book-recommendation\kitab\db\sql_interactions.py:212: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, self.connection)

([{'isbn': 'test_isbn1',
   'title': 'test_title',
   'description': 'test_description',
   'available': True}],
 ['Agatha Christie', 'test_author'],
 ['Fiction', 'test_genre'])

In [4]:
get_table_from_db("bookauthor").iloc[-10:]

c:\Users\alexa\Desktop\Spring 2024\DS 223 Marketing Analytics\Project\ds223-book-recommendation\kitab\db\sql_interactions.py:212: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, self.connection)

              isbn  author_id
123889     7455054      46321
123890    71819266      39066
123891   133251241      74389
123892   133251241      74390
123893   133251241      74391
123894   875523919      57359
123895   307981533      20892
123896   313382077      74392
123897  test_isbn1      74395
123898  test_isbn1       1676

In [5]:
update_book_db("test_isbn1", {"ISBN": "test_isbn2", "authors": ["Agatha Christie", "test_author2"]})

2024-04-08 04:09:10,452 - kitab.db.sql_interactions - update_records - INFO - (Records updated successfully.) - line: 176
c:\Users\alexa\Desktop\Spring 2024\DS 223 Marketing Analytics\Project\ds223-book-recommendation\kitab\db\sql_interactions.py:212: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, self.connection)
2024-04-08 04:09:11,179 - kitab.db.sql_interactions - insert_records - WARNING - (No records to insert.) - line: 134
2024-04-08 04:09:11,198 - kitab.db.sql_interactions - remove_records - INFO - (Records removed successfully.) - line: 208
2024-04-08 04:09:11,202 - kitab.db.sql_interactions - insert_records - INFO - (1 records inserted successfully.) - line: 145

In [6]:
get_book_by_ISBN("test_isbn1")

c:\Users\alexa\Desktop\Spring 2024\DS 223 Marketing Analytics\Project\ds223-book-recommendation\kitab\db\sql_interactions.py:212: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, self.connection)

In [7]:
get_book_by_ISBN("test_isbn2")

([{'isbn': 'test_isbn2',
   'title': 'test_title',
   'description': 'test_description',
   'available': True}],
 ['Agatha Christie', 'test_author2'],
 ['Fiction', 'test_genre'])

In [8]:
get_table_from_db("bookauthor").iloc[-10:]

c:\Users\alexa\Desktop\Spring 2024\DS 223 Marketing Analytics\Project\ds223-book-recommendation\kitab\db\sql_interactions.py:212: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, self.connection)

              isbn  author_id
123889     7455054      46321
123890    71819266      39066
123891   133251241      74389
123892   133251241      74390
123893   133251241      74391
123894   875523919      57359
123895   307981533      20892
123896   313382077      74392
123897  test_isbn2       1676
123898  test_isbn2      74394