In [1]:
from kitab.db.functions import get_book_by_ISBN, add_book_db, update_book_db, get_table_from_db
from kitab.db.db_info import user, port, password, host, database

c:\Users\alexa\Desktop\Spring 2024\DS 223 Marketing Analytics\Project\ds223-book-recommendation\book-recommendation\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
add_book_db(
    {"ISBN": "teasast_isbn1",
     "title": "test_title",
     "description": "test_description",
     "available": True,
     "authors": ["test_author", "Agatha Christie"], 
     "genres": ["test_genre", "Fiction"]}
)

2024-04-08 10:54:40,059 - kitab.db.sql_interactions - insert_records - INFO - (1 records inserted successfully.) - line: 146
c:\Users\alexa\Desktop\Spring 2024\DS 223 Marketing Analytics\Project\ds223-book-recommendation\kitab\db\sql_interactions.py:239: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, self.connection)
2024-04-08 10:54:40,461 - kitab.db.sql_interactions - insert_records - WARNING - (No records to insert.) - line: 135
2024-04-08 10:54:40,475 - kitab.db.sql_interactions - insert_records - INFO - (2 records inserted successfully.) - line: 146
c:\Users\alexa\Desktop\Spring 2024\DS 223 Marketing Analytics\Project\ds223-book-recommendation\kitab\db\sql_interactions.py:239: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, self.connection)
2024-04-08 10:54:40,498 - kitab.db.sql_interactions - insert_records - WARNING - (No records to insert.) - line: 135
2024-04-08 10:54:40,503 - kitab.db.sql_interactions - insert_records - INFO - (2 records inserted successfully.) - line: 146

In [4]:
get_book_by_ISBN("test_isbn1")

c:\Users\alexa\Desktop\Spring 2024\DS 223 Marketing Analytics\Project\ds223-book-recommendation\kitab\db\sql_interactions.py:236: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, self.connection, params=values)
c:\Users\alexa\Desktop\Spring 2024\DS 223 Marketing Analytics\Project\ds223-book-recommendation\kitab\db\sql_interactions.py:236: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, self.connection, params=values)

({'isbn': 'test_isbn1',
  'title': 'test_title',
  'description': 'test_description',
  'available': True},
 ['Agatha Christie', 'test_author'],
 ['Fiction', 'test_genre'])

In [5]:
get_table_from_db("bookauthor").iloc[-10:]

c:\Users\alexa\Desktop\Spring 2024\DS 223 Marketing Analytics\Project\ds223-book-recommendation\kitab\db\sql_interactions.py:239: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, self.connection)

                     isbn  author_id
123899          some_isbn      74396
123900         some_isbn1      74396
123901        some_isabn1      74396
123902     some_isasdabn1      74396
123903  some_isasdasasbn1      74396
123904    some_isasdasbn1      74397
123905         test_isbn1      74395
123906         test_isbn1       1676
123907      teasast_isbn1      74395
123908      teasast_isbn1       1676

In [8]:
update_book_db("test_isbn1", {"ISBN": "test_isbsan2", "authors": ["Agatha Christie", "test_author2"]})

2024-04-08 10:54:51,912 - kitab.db.sql_interactions - update_records - INFO - (Records updated successfully.) - line: 177
c:\Users\alexa\Desktop\Spring 2024\DS 223 Marketing Analytics\Project\ds223-book-recommendation\kitab\db\sql_interactions.py:239: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, self.connection)
2024-04-08 10:54:52,068 - kitab.db.sql_interactions - insert_records - WARNING - (No records to insert.) - line: 135
2024-04-08 10:54:52,068 - kitab.db.sql_interactions - remove_records - INFO - (Records removed successfully.) - line: 209
2024-04-08 10:54:52,083 - kitab.db.sql_interactions - insert_records - INFO - (1 records inserted successfully.) - line: 146

In [9]:
get_book_by_ISBN("test_isbn1")

c:\Users\alexa\Desktop\Spring 2024\DS 223 Marketing Analytics\Project\ds223-book-recommendation\kitab\db\sql_interactions.py:236: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, self.connection, params=values)
c:\Users\alexa\Desktop\Spring 2024\DS 223 Marketing Analytics\Project\ds223-book-recommendation\kitab\db\sql_interactions.py:236: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, self.connection, params=values)
c:\Users\alexa\Desktop\Spring 2024\DS 223 Marketing Analytics\Project\ds223-book-recommendation\kitab\db\sql_interactions.py:236: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, self.connection, params=values)

(None, None, None)

In [10]:
get_book_by_ISBN("test_isbn2")

c:\Users\alexa\Desktop\Spring 2024\DS 223 Marketing Analytics\Project\ds223-book-recommendation\kitab\db\sql_interactions.py:236: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, self.connection, params=values)
c:\Users\alexa\Desktop\Spring 2024\DS 223 Marketing Analytics\Project\ds223-book-recommendation\kitab\db\sql_interactions.py:236: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, self.connection, params=values)

({'isbn': 'test_isbn2',
  'title': 'test_title',
  'description': 'test_description',
  'available': True},
 ['Agatha Christie', 'test_author2'],
 ['Fiction', 'test_genre'])

In [11]:
get_table_from_db("bookauthor").iloc[-10:]

c:\Users\alexa\Desktop\Spring 2024\DS 223 Marketing Analytics\Project\ds223-book-recommendation\kitab\db\sql_interactions.py:239: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, self.connection)

                     isbn  author_id
123899          some_isbn      74396
123900         some_isbn1      74396
123901        some_isabn1      74396
123902     some_isasdabn1      74396
123903  some_isasdasasbn1      74396
123904    some_isasdasbn1      74397
123905      teasast_isbn1      74395
123906      teasast_isbn1       1676
123907       test_isbsan2       1676
123908       test_isbsan2      74394